U3D/Library/
U3D/obj/
U3D/Temp/
U3D/Build/
U3D/Assembly-CSharp-vs.csproj
U3D/Assembly-CSharp.csproj
U3D/Assembly-CSharp-Editor-vs.csproj
U3D/Assembly-CSharp-Editor.csproj
U3D/U3D-csharp.sln
U3D/U3D.sln
*.suo

[Bb]in
[Rr]elease
[Dd]ebug

/Build


_Resharper*
